.main {
  border: white 2px solid;
  margin: 2vw;
  padding: 2vw;
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  // .title {
  // }
  // .date {
  // }
  .link {
    display: block;
    text-align: center;
    color: white;
  }
}
