.welcome {
  background-image: url("../../images/background0.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: absolute;
  margin: 0;
  top: 0vh;

  div {
    color: rgb(61, 72, 73);
    display: block;
    margin: 28vh auto;
    border: 2px solid rgb(61, 72, 73);
    width: 60vw;
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 20px;
    .header {
      margin-top: 20px;
      font-size: 3em;
      margin-bottom: 20px;
    }
  }

  .arrow {
    display: block;
    margin: auto;
    font-size: 50px;
    color: white;
    position: relative;
    top: 32px;
    text-align: center;
    &:hover {
      color: rgb(200, 200, 200);
    }
  }
}
.events {
  position: relative;
  top: 97vh;
  background-color: rgb(61, 72, 73);
  padding-bottom: 2vw;
  p {
    padding-top: 1vw;
    margin-left: 2vw;
  }
  .buttons {
    margin: 2vw;
    display: flex;
    justify-content: space-between;
    button {
      background-color: white;
      font-family: "raleway", sans-serif;
      color: rgb(61, 72, 73);
      border: none;
      border-radius: 10px;
      padding: 10px 20px;
    }
  }
  .inputs {
    display: flex;
    justify-content: space-evenly;
  }
  input {
    background-color: white;
    font-family: "raleway", sans-serif;
    color: rgb(61, 72, 73);
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin-left: 2vw;
  }
}
